<h2>スケジュール新規登録</h2>
<%= form_for @task do |f| %>
<%= render 'form', task: @task %>
<div>
    <ul>
        <li><%= f.submit "スケジュールを新規登録する"%></li>
        <li><%= link_to 'スケジュール一覧に戻る', tasks_path %></li>
    </ul>
</div>
<% end %>